
#contenedor {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

header h1 {
    width: 20%;
    height: 90px;
    font-size: 40px;
    color: aliceblue;
    text-align: left;
    padding-left: 10px;
    line-height: 100px;
    background-image: linear-gradient(
        150deg,
        royalblue,
        white   
    );
}

/*nav menu*/
nav h2 {
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}
/* tipo menu */

.menu { 
    list-style: none;
    width: 30%;
    max-height: 1000px;
    margin-left: 100px;
}
.menu li a {
    color: rgb(10, 123, 222);
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: left;

}
.menu li a:hover {
    background-color: orange;
}
ul {
    list-style: none;
    float: left;

}
ul li a:hover { background-color: rgb(25, 119, 227);}
ul li {
    margin-top: 7px;
}

ul li  a{
    text-decoration: none;
    color: black;
    margin: 8px;
    border-bottom: 2px solid  rgb(25, 119, 227) ;
    
    padding: 5px;
    
    
}

#contenido {
    width: 85%;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}
h2 {
    font-size: 50px;
    color: dodgerblue;
    
}
#p1 {
    margin-left: 200px;
    margin-right: 100px;
    border: 1px solid black;
    padding: 20px;
    color: slategrey;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.h2 {
    color: rgb(9, 8, 8);
}

footer {

    clear: both;
}
footer h2 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    font-style:italic;

}
#ul2 {
    color: rgb(21, 21, 86);
    font-size: 18px;
    border: 1px solid red;
    width: 600px;
    padding: 10px;
}
#ul2 a:hover {
    color: red;
    background: none;
}

#ul2 li a{
    border-bottom: none ;
    text-decoration-line: underline;
    color: rgb(32, 32, 85);
}

.h2tabla {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 200px;
    color: rgb(19, 19, 67);
}
.marco1 {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 200px;
    border: 1px solid red;
    width: 60%;
    padding: 20px;
    

}
.marco1 a:hover { color: red;

}
.marco1 a {
    color: rgb(27, 27, 72);
}
